@model Banner

<div class="d-flex flex-column" id="BannerBackground">

    <!-- FOR DEMO PURPOSE -->
    <section class="hero text-white">
        <div class="container py-1">
          @*   <div class="col-12" id="boxBanner">
                <h1 class="display-6 text-white font-weight-bold">@Model.Description.ToUpper()</h1>
            </div> *@
            <div id="rowSectionBanner">

                <div class="col-lg-6" id="boxBanner">
                    <h1 class="display-6 font-weight-bold" id="BtnColor">@Model.Title.ToUpper()</h1>
                    <h6 class="text-white font-weight-bold">@Model.Description.ToUpper()</h6>
                    
                    @*   <p class="fst-italic text-muted">@Html.Raw(Model.Content) <a class="text-primary" href="@Model.Sitecopyright" target="_blank">SeoSoft</a></p> *@
                    <p class="text-white">@Html.Raw(Model.Content)</p>
                    <a href="@Model.LinkUrl" class="btn mt-1" id="BannerButon"> Contact <i class="bi bi-ui-checks"></i></a>
                </div>
                <div class="col-lg-6" id="boxBanner">
                    <script src="https://unpkg.com/@@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
                    <dotlottie-player src="@Model.ImageUrl" class="img-fluid" speed="1" style="width: auto; height: auto;" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                </div>
            </div>
        </div>
    </section>

    </div>


